name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
    - uses: tree-sitter/setup-action@c4c258862a6a7e43a7aef152256bbf659972c408 # v2
      with:
        install-lib: false
    - run: just
    - run: cargo test
    - run: git diff --exit-code
